<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeApp</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo-easy.png') }}" alt="SAFE Logo">
            </div>
            <div class="title">
                <h1>S.A.F.E</h1>
                <p class="acronym">Sensoristic Analytics Forecast Emergencies</p>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 S.A.F.E. All rights reserved.</p>
    </footer>
</body>
</html>
